---
layout: base.njk
title: Blog Home
---

<div class="blog-home">
    <h2>Recent Posts</h2>
    
    {% set postslist = collections.posts | reverse %}
    {% if postslist.length %}
    <div class="posts-list">
        {% for post in postslist %}
        <article class="post-preview">
            <h3><a href="/blog{{ post.url }}">{{ post.data.title }}</a></h3>
            <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
            {% if post.data.description %}
            <p>{{ post.data.description }}</p>
            {% endif %}
            {% if post.data.tags %}
            <div class="tags">
                {% for tag in post.data.tags %}
                    {% if tag != "posts" %}
                    <span class="tag">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
    {% else %}
    <p>No posts yet. Check back soon!</p>
    {% endif %}
</div>
